body,
html,
#root {
  background-color: #ecf5ff;
  /* font-size: 62.5%; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
}

/* UTILITIES */

.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.container > * {
  width: auto;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 5rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
  border-radius: 10px;
}

.btn-stop {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.btn-stop:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(241, 77, 77, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #989c9b;
}

#highScores {
  width: 70%;
}

#highScores > header {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

#highScores > header h1 {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
}

.wrapper {
  line-height: 0.5em;
  margin: 0 auto;
  padding: 2em 0 3em;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

th {
  background-color: #56a5eb;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

td,
th {
  padding: 1em 0.5em;
  text-align: left;
  font-size: large;
}

tbody th {
  background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all 0.125s ease-in-out;
}
tbody tr:hover {
  background-color: rgba(50, 98, 149, 0.3);
}

td.rank {
  text-transform: capitalize;
}

/* Responsive */

@media screen and (max-width: 500px) {
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .btn {
    width: 13rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
  }

  #highScores {
    width: auto;
  }

  .question {
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}
